.create__job {
    background-color: red;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;

    position: fixed;
    bottom: 20px;
    right: 20px;
}